@model WebApplication1.Models.PersonalDataViewModel

<link href="~/Content/customswitch.css" rel="stylesheet" />

@using (Ajax.BeginForm("ChangeUserInfoView", "UsersManagment", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "pInfo"
}))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationMessageFor(m => m.Name, "")
        @Html.EditorFor(m => m.Name, "", new { htmlattributes = new { @class = "changeData" } })
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.Email, "")
        @Html.EditorFor(m => m.Email, "", new { htmlattributes = new { @class = "changeData" } })
    </div>
    <div>
        @if (User.IsInRole("admin"))
        {
            <input type="checkbox" checked />
        }
        Администратор
    </div>
    <input id="changePI" type="submit" value="Сохранить" class="userPagebuttton" />
}

