@model WebApplication1.Models.PersonalDataViewModel
@using WebApplication1.HtmlHelpers


<link href="~/Content/Overlays/AddEventPartialView.css" rel="stylesheet" />

<div id="ChangePersonalInfo">
    @using (Ajax.BeginForm("ChangePersonalInfo", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "pInfo",
        OnBegin = "LoadingStarted('ChangePersonalInfo','load-icon')",
        OnComplete = "LoadingFinished('ChangePersonalInfo','load-icon')"
    }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" value="@Model.NumberOfEvents" name="NumberOfEvents" />
        <div>
            @Html.ValidationMessageFor(m => m.Name)
            @Html.EditorFor(m => m.Name, "", new { htmlattributes = new { @class = "changeData", id="FullName"} })
        </div>

        <div>
            @Html.ValidationMessageFor(m => m.Email)
            @Html.EditorFor(m => m.Email, "", new { htmlattributes = new { @class = "changeData", id="Email"} })
        </div>
        <div>
            @if (User.IsInRole("admin"))
            {
                <div id="switcher" class="slideThree">
                    @if (Model.Is_Admin)
                    {
                        <input id="slideThree" type="checkbox" name="Is_Admin" checked />
                    }
                    else
                    {
                        <input id="slideThree" type="checkbox" name="Is_Admin" />
                    }
                    <label for="slideThree"></label>
                </div>

                <span>Администратор</span>
            }
            else
            {
                @Html.HiddenFor(m => m.Is_Admin)
            }
        </div>
        <input id="changePI" type="submit" value="Сохранить" class="userPagebuttton"/>
    }
</div>