@model WebApplication1.Models.ChangePasswordModel

@{
    ViewBag.Title = "View";
}

@using (Ajax.BeginForm("ChangePassword", new AjaxOptions() {
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "changePassWindow",
    OnSuccess= "PasswordChangedSuccessfull()"
}))
{
    <h2>Изменить пароль</h2>
    <div class="input-wrapper">
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.OldPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Старый пароль", id="oldpassword" } })
    </div>

    <div class="input-wrapper">
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.NewPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Новый пароль", id="newpassword" } })
    </div>

    <div class="input-wrapper">
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.ConfirmPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Подтвердите новый пароль", id="confirmpassword" } })
    </div>

    <div class="input-wrapper">
        <input id="chng-passw-button" class="userPagebuttton" type="submit" value="Сохранить" />    
    </div>
}

<div id="is-password-changed">

</div>

