@model WebApplication1.Models.PersonalDataViewModel
@using WebApplication1.HtmlHelpers


<div id="ChangePersonalInfo">
    @using (Ajax.BeginForm("ChangePersonalInfo", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "pInfo",
        OnBegin = "LoadingStarted('ChangePersonalInfo','load-icon')",
        OnComplete = "LoadingFinished('ChangePersonalInfo','load-icon')"
    }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" value="@Model.NumberOfEvents" name="NumberOfEvents" />
        <div>
            @Html.ValidationMessageFor(m => m.Name)
            @Html.EditorFor(m => m.Name, "", new { htmlattributes = new { @class = "changeData", id="FullName"} })
        </div>

        <div>
            @Html.ValidationMessageFor(m => m.Email)
            @Html.EditorFor(m => m.Email, "", new { htmlattributes = new { @class = "changeData", id="Email"} })
        </div>
        <div>
            @Html.EditorFor(m => m.Is_Admin, new { htmlattributes = new { @class="" } })
            Администратор
        </div>
        <input id="changePI" type="submit" value="Сохранить" class="userPagebuttton"/>
    }
</div>


