@model WebApplication1.Models.PersonalDataViewModel

<div id="displayPersonalInfo">
    <h2>@Html.DisplayFor(m => m.Name)</h2>

    @if (Model.Is_Admin)
    {
        <span id="adminLabel">admin</span>
    }

    @Html.HiddenFor(m => m.Is_Admin)
    <br />
    <strong>Email:</strong><span> @Html.DisplayFor(m => m.Email)</span>
    <br />
    <strong>Количество активных событий:</strong><span>@Model.NumberOfEvents</span>
    <br />
    <button class="userPagebuttton" id="changePI" onclick="toggleDisplayAndInputPInfo()">Изменить</button>
</div>

<div id="piEditor" class="invisibleBlock">
    @using (Html.BeginForm())
    {
        @Html.EditorFor(m => m.Name, new { htmlattributes = new { @class = "changeData" } })
        @Html.EditorFor(m => m.Email, new { htmlattributes = new { @class = "changeData" } })

        if (Model.Is_Admin)
        {
            @Html.EditorFor(m => m.Is_Admin)
            <span>Администратор</span>
        }
        <br/>
        <input class="userPagebuttton" type="submit" value="Сохранить"/>
    }
</div>
