@using WebApplication1.Models;
@using WebApplication1.HtmlHelpers;
@model UsersPageModel

@{
    ViewBag.Title = "Пользователи";
}


<div class="container">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>
            Список пользователей
            @if(Model.SearchPattern != null)
            {
                <span>с именем</span>
                @Model.SearchPattern;
            }
        </h2>
        <div>
            <span>Всего: @Model.Users.Count()</span>
            <div class="searchForm">
                @using (Html.BeginForm("Users", "UsersManagment", FormMethod.Get))
                {
                    <input name='SearcPattern' type='text' value='@Model.SearchPattern' id ='user-search' onclick="SearchChecker()" onchange = "SearchChecker()"/>
                    @Html.HiddenFor(m => m.PageInfo.PageNumber)
                    <button id="searchButton" type="submit" disabled>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                }
            </div>
        </div>
        <ul class="userTable">
            @{
                int i = 0;
                foreach (var u in Model.Users)
                {
                    <li>
                        <div class="usersTableRow">
                            <a href="@Url.Action("UserPage", "UsersManagment", u)">

                                <div class="usersTableItem userNameItem">
                                    @u.Name
                                    @if (u.Is_Admin)
                                    {
                                        <span class="adminLabel">admin</span>
                                    }
                                </div>
                                <div class="usersTableItem userEmailItem">@u.Email</div>
                                <div class="usersTableItem userNumberOfEventsitem"><i class="fa fa-calendar" aria-hidden="true"></i> @u.NumberOfEvents</div>
                            </a>
                            <div class="usersTableItem deleteUserItem">
                                <button class="delete" onclick="DeleteUserPopupShow('@i.ToString()')"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>

                            @Html.Partial("DeletePersonPopup", new WebApplication1.Models.Pair<System.Int32, System.String>
                       {
                           item1 = i,
                           item2 = u.Id
                       })
                        </div>
                    </li>
                    ++i;
                }
            }
        </ul>
        <div id="page-wrapper" class="btn-group">
            <div id="page-links">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Users", new { page = x }))
            </div>
        </div>
    </div>
</div>



@section MenuItemActive{
    <script>
        ActivateMenu('usersItem');
    </script>

}
