@using WebApplication1.Models;
@model Pair<PageInfo, IEnumerable<WebApplication1.Models.PersonalDataViewModel>>

@{
    ViewBag.Title = "Users";
}



<div class="container">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>Список пользователей</h2>
        <div>
            <span>Всего: @Model.item2.Count()</span>
            <div class="searchForm">
                @using (Html.BeginForm("Search", "UserManagment"))
                {
                    <input id="user-search" type="search" placeholder="Поиск" onkeyup="SendChecker()" />
                    <button id="searchButton" type="submit" onsubmit="ValidateSearchInput" disabled>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                }
            </div>
        </div>
        <ul class="userTable">
            @{
                    int i = 0;
                foreach (var u in Model.item2)
                {
                    <li>
                        <div class="usersTableRow">
                            <a href="@Url.Action("UserPage", "UsersManagment", u)">

                                <div class="usersTableItem">@u.Name</div>
                                <div class="usersTableItem">@u.Email</div>
                                <div class="usersTableItem"><i class="fa fa-calendar" aria-hidden="true"></i> @u.NumberOfEvents</div>
                            </a>
                            <div class="usersTableItem">
                                <button class="delete" onclick="DeleteUserPopupShow('@i.ToString()')"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>

                            @Html.Partial("DeletePersonPopup", new WebApplication1.Models.Pair<System.Int32, System.String>
                            {
                                item1 = i,
                                item2 = u.Id
                            })
                        </div>
                    </li>
                    ++i;
                }
            }
        </ul>
    </div>
</div>

<div id="pageLinks" class="btn-group">
    @WebApplication1.HtmlHelpers.Pagination.PageLinks(Model.item1, x => Url.Action("Users", new { page = x }))
</div>

@section MenuItemActive{
    <script>
        ActivateMenu('usersItem');
    </script>

}
