<link href="~/Content/Overlays/AddEventPartialView.css" rel="stylesheet" />
<script src="~/Scripts/Overlays/AddEventPartialView.js"></script>

<script src="https://use.fontawesome.com/8492b6eaf6.js"></script>


@model WebApplication1.Models.Schedule.EditEventPartialViewModel

@using (Html.BeginForm("AddNewEvent", "Schedule", FormMethod.Post))
{


    <div class="event-edit-popup">


        <div class="event-edit-header">

            <div class="custom-numeric-picker month-day-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" readonly value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <div style='width: 30px; display: inline-block'>
            </div>

            <div class="custom-numeric-picker month-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" readonly class="date-custom-input" /><br />
                <input type="hidden" value="@Model.Start.Month" />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <div style='width: 30px; display: inline-block'>
            </div>


            <div id="first" class="custom-numeric-picker hour-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" readonly value="@Model.Start.Hour" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="custom-delimiter">:</div>
            <div id="first" class="custom-numeric-picker minute-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" readonly value="@Model.Start.Minute" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>


            <div class="custom-delimiter">-</div>


            <div id="second" class="custom-numeric-picker hour-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" readonly value="@Model.End.Hour" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="custom-delimiter">:</div>
            <div id="second" class="custom-numeric-picker minute-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" readonly value="@Model.End.Minute" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>


            @Html.DropDownList("RoomId", (List<SelectListItem>)ViewBag.RoomIdOptions, new { @class = "custom-room-dropdown" })

            <i class="fa fa-window-minimize" aria-hclassden="true"></i>
        </div>

        <div class="event-edit-contents">

            <input type="text" name="Title" value="@Model.Title" />

            <br />

            <textarea rows="8" cols="50">@Model.Description</textarea>

            <div class="event-reg-info">

                @{
                    string isPub;
                    if (@Model.IsPublic)
                    {
                        isPub = "checked";
                    }

                    else
                    {
                        isPub = "";
                    }

                }
            </div>

            <!-- Squared THREE -->
            <div class="squaredThree">
                <input type="checkbox" value="" id="squaredThree" name="" @isPub />
                <label for="squaredThree"></label>
            </div>

            <span>Регистрация желающих</span>

        </div>

        <div class="event-org-info">

            <div class="slideThree">
                <input type="checkbox" value="None" id="slideThree" name="check" />
                <label for="slideThree"></label>
            </div>

            @Html.LabelFor(p => p.OrganizerName)
            <span>@Html.EditorFor(p => p.OrganizerName)</span>

            <input type="submit" class="send-event-form-data" value="Add" />
        </div>
    </div>
  }



