<link href="~/Content/Overlays/AddEventPartialView.css" rel="stylesheet" />
<script src="~/Scripts/Overlays/AddEventPartialView.js"></script>

<script src="https://use.fontawesome.com/8492b6eaf6.js"></script>


@model WebApplication1.Models.Schedule.EditEventPartialViewModel

@using (Html.BeginForm("AddNewEvent", "Schedule", FormMethod.Post))
{
    <div class="event-edit-popup">
        <div class="event-edit-header">

            <div class="custom-numeric-picker month-day-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <div style='width: 30px; display: inline-block'>
            </div>

            <div class="custom-numeric-picker month-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" /><br />
                <input type="hidden" value="@Model.Start.Month" />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <div style='width: 30px; display: inline-block'>
            </div>


            <div id="first" class="custom-numeric-picker hour-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Hour" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="custom-delimiter">:</div>
            <div id="first" class="custom-numeric-picker minute-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Minute" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            
            <div class="custom-delimiter">-</div>
            

            <div id="second" class="custom-numeric-picker hour-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.End.Hour" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="custom-delimiter">:</div>
            <div id="second" class="custom-numeric-picker minute-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.End.Minute" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>


            @Html.DropDownList("RoomId", (List<SelectListItem>)ViewBag.RoomIdOptions, new { @class = "custom-room-dropdown" })

            <i class="fa fa-window-minimize" aria-hclassden="true"></i>
        </div>

        <div class="event-edit-contents">
            <span>@Html.EditorFor(p => p.Title)</span>

            <br />

            <p>
                @Html.EditorFor(p => p.Description)
            </p>

            <div class="event-reg-info">

                @Html.LabelFor(p => p.AllowSubscription)
                @Html.EditorFor(p => p.AllowSubscription)

                @Html.LabelFor(p => p.IsPublic)
                <span>@Html.EditorFor(p => p.IsPublic)</span>
            </div>

            <div class="event-org-info">
                
                <div class="slideThree">
                    <input type="checkbox" value="None" id="slideThree" name="check" />
                    <label for="slideThree"></label>
                </div>

                @Html.LabelFor(p => p.OrganizerName)
                <span>@Html.EditorFor(p => p.OrganizerName)</span>
            </div>

        </div>
        <input type="submit" class="send-event-form-data" value="Add" />
    </div>
}



