<link href="~/Content/Overlays/AddEventPartialView.css" rel="stylesheet" />


<script src="https://use.fontawesome.com/8492b6eaf6.js"></script>


@model WebApplication1.Models.Schedule.EditEventPartialViewModel

@using (Html.BeginForm("AddNewEvent", "Schedule", FormMethod.Post))
{
    <div class="event-edit-popup">
        <div class="event-edit-header">

            <div class="custom-numeric-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <div style='width: 30px; display: inline-block'>
            </div>

            <div class="custom-numeric-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <div style='width: 30px; display: inline-block'>
            </div>


            <div class="custom-numeric-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="custom-delimiter">:</div>
            <div class="custom-numeric-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <div style='width: 10px; display: inline-block'>
                <div class="custom-delimiter">-</div>
            </div>

            <div class="custom-numeric-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="custom-delimiter">:</div>
            <div class="custom-numeric-picker">
                <i class="fa fa-caret-up" aria-hidden="true"></i><br>
                <input type="text" class="date-custom-input" value="@Model.Start.Day" /><br />
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>


            @Html.DropDownList("RoomId", (List<SelectListItem>)ViewBag.RoomIdOptions, new { @class = "custom-room-dropdown" })


        </div>

        <div class="event-edit-contents">
            <span>@Html.EditorFor(p => p.Title)</span>

            <br />

            <p>
                @Html.EditorFor(p => p.Description)
            </p>

            <div class="event-reg-info">

                @Html.LabelFor(p => p.AllowSubscription)
                @Html.EditorFor(p => p.AllowSubscription)

                @Html.LabelFor(p => p.IsPublic)
                <span>@Html.EditorFor(p => p.IsPublic)</span>
            </div>

            <div class="event-org-info">
                @Html.LabelFor(p => p.ShowAuthor)
                <span>@Html.EditorFor(p => p.ShowAuthor)</span>

                @Html.LabelFor(p => p.OrganizerName)
                <span>@Html.EditorFor(p => p.OrganizerName)</span>
            </div>

        </div>
        <input type="submit" class="send-event-form-data" value="Add" />
    </div>
}

<script>
    $('.send-event-form-data').click(function () {

    });
</script>

