<link href="~/Content/Overlays/DisplayEventPartialView.css" rel="stylesheet" />

<script src="https://use.fontawesome.com/8492b6eaf6.js"></script>


<style>
    .val-errors
    {
        color: lightcoral;
        height: 50px;
        width: 100%;
        margin: 5px;
        display: none;
    }

    .val-errors span
    {
        margin-left: 5px !important;
    }

</style>


@model WebApplication1.Models.Schedule.DisplayEventPartialViewModel

@{
    var culture = new System.Globalization.CultureInfo("ru-RU");
}

<div class="event-display-popup">
    <div class="event-display-header">
        <span>@culture.DateTimeFormat.GetAbbreviatedDayName((Model.DateStart.DayOfWeek)), @Model.DateStart.Day @culture.DateTimeFormat.GetMonthName(Model.DateStart.Month)</span>
        <br><span>@Model.DateStart.ToString("HH:mm") - @Model.DateEnd.ToString("HH:mm")</span>

        <div class="header-controls">
            @if (Model.CanEdit)
            {
                <input type="button" class="change-button" value="Изменить">
                <input type="button" class="cancel-button" value="Отменить">
            }
            <i class="fa fa-window-minimize" aria-hclassden="true"></i>
        </div>




    </div>

    <div class="event-display-contents">
        <h3>@Model.Title</h3>
        <p>
            @Model.Description
        </p>

        <div class="organizer-info">
            <i class="fa fa-user fa-2x" aria-hclassden="true"></i>
            <span>@Model.OrganizerName</span>
        </div>

        <div class="visitors-info">
            <i class="fa fa-users fa-2x" aria-hclassden="true"></i>
            <span>@Model.VisitorCount</span>
        </div>


        <br>

        @if (Model.AllowSubscription)
        {
            <div class="new-visitor-block">
                <input type="text" class="add-visitor-email" placeholder="Укажите e-mail" />

                <i class="fa fa-plus fa-2x" aria-hclassden="true"></i> <br />
            </div>
        }

        <div class="val-errors">

        </div>

    </div>

    <div class="event-display-links">
        <i class="fa fa-calendar-plus-o fa-2x" aria-hclassden="true"></i>
        <i class="fa fa-envelope-o fa-2x" aria-hclassden="true"></i>
        <i class="fa fa-print fa-2x" aria-hclassden="true"></i>
        <a href='@Url.Action("Index", "Event", new { eventId = Model.Id})'><i class="fa fa-link fa-2x" aria-hclassden="true"></i></a>
    </div>

</div>

<script src="~/Scripts/Overlays/DisplayEventPartialView.js"></script>


<script>
    $(() => {
        
    })
    

    $('.new-visitor-block .fa-plus').click(function () {

        $('.val-errors').empty();

        var eventId = $(this).parents('.event-display-popup').attr('id')

        var eMail = $('.new-visitor-block input').val();
        //alert(eMail);

        var jsonData = JSON.stringify({ eventId: eventId, Email:  eMail});
        
        $.ajax({
            url: '@Url.Action("AddSubscriber", "Schedule")',
            type: "POST",
            context: this,
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            success: function (data, textStatus, jqXHR) {
                //alert(JSON.stringify(data));
                
                if (data.status == "fail")
                {
                    $('.val-errors').css("display", "inline-block");
                    $('.val-errors').append('<i class="fa fa-frown-o fa-3x"></i>');
                    var eList = data.Errors;
                    for (var i = 0; i < eList.length; i++)
                        $('.val-errors').append("<span>" + eList[i] + "</span> <br>");
                }
                
                if (data.status == "success")
                {
                    $('.val-errors').css("display", "inline-block");
                    $('.val-errors').append("<span>Добавлено</span> <br>");
                    var $visCntElem = $('.visitors-info span');

                    //alert($visCntElem.html());

                    $visCntElem.html(parseInt($visCntElem.html()) + 1);

                    setTimeout(function () {$('.val-errors').css("display", "none");}, 1000);
                }
            }
        });
    });

</script>