@model WebApplication1.Models.ChangePasswordModel

@{
    ViewBag.Title = "View";
}

@using (Html.BeginForm())
{
    <h2>Изменить пароль</h2>
    <div>
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.OldPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Старый пароль" } })
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.NewPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Новый пароль" } })
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.ConfirmPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Подтвердите новый пароль" } })
    </div>

    <input id="chng-passw-button" class="userPagebuttton" type="submit" value="Сохранить" />
}

