@model WebApplication1.Models.ChangePasswordModel

@{
    ViewBag.Title = "View";
}

@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions() {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "is-password-changed"
}))
{
    <h2>Изменить пароль</h2>
    <div class="input-wrapper">
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.OldPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Старый пароль" } })
    </div>

    <div class="input-wrapper">
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.NewPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Новый пароль" } })
    </div>

    <div class="input-wrapper">
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "" })
        @Html.EditorFor(m => m.ConfirmPassword, new { htmlattributes = new { @class = "textinput", placeholder = "Подтвердите новый пароль" } })
    </div>

    <div class="input-wrapper">
        <input id="chng-passw-button" class="userPagebuttton" type="submit" value="Сохранить" />    
    </div>
}

<div id="is-password-changed">

</div>

