@model WebApplication1.Models.LoginViewModel
@using WebApplication1.HtmlHelpers;

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new AjaxOptions()
{
    HttpMethod = "POST"
}))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>
            @Html.ValidationMessageFor(model => model.Email)
            @Html.EditorFor(model => model.Email, "", new { htmlattributes = new { placeholder = " Адрес электронной почты", @class = "custom-input" } })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Password)
            @Html.EditorFor(model => model.Password, "", new { htmlattributes = new { placeholder = " Пароль", @class = "custom-input" } })
        </div>
        <input class="button" type="submit" value="Войти" />
       
    </div>
}
@section header{
    <div id="login" class="header-content">
        Вход
    </div>
    <script>
        $('#login-item').addClass('menu-item-active');
    </script>
}


