
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link href="~/Content/login.css" rel="stylesheet" />



<div class="login-menu">
    <ul class="menu-list">
        <li><img class="menu-logo" src="@Url.Action("GetImage", "Resources", new { imageName="logo-gray.png" })" /></li>
        <li>@Ajax.ActionLink("Вход", "LoginForm", new AjaxOptions { UpdateTargetId= "inputForm", InsertionMode = InsertionMode.Replace, OnSuccess="$('#title').text('Вход')" })</li>
        <li>@Ajax.ActionLink("Регистрация", "RegisterForm", new AjaxOptions { UpdateTargetId = "inputForm", InsertionMode = InsertionMode.Replace,OnSuccess = "$('h2').text('Регистрация');" })</li>
        <li>@Ajax.ActionLink("Смена пароля", "ForgotPassword", new AjaxOptions { UpdateTargetId = "inputForm", InsertionMode = InsertionMode.Replace, OnSuccess = "$('#title').text('Сменить пароль')" })</li>
    </ul>
</div>

<div class="input-wrapper">
    <div class="input-header"><div id="header-content"><h2 id="title">Вход</h2></div></div>
    <div id="inputForm" class="input-area">
        @Html.Partial("LoginInput")
    </div>
</div>
