@model WebApplication1.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div>
        @Html.ValidationMessageFor(model => model.Email, "")
        @Html.EditorFor(model => model.Email, "", new { htmlattributes = new { placeholder = " Адрес электронной почты", @class = "custom-input" } })
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.Password, "")
        @Html.EditorFor(model => model.Password, "", new { htmlattributes = new { placeholder = " Пароль", @class = "custom-input" } })
    </div>
    <input class="send" type="submit" value="Войти" />
}
@section header{
    Вход
}


