@model WebApplication1.Models.ResetPasswordViewModel
@using WebApplication1.HtmlHelpers;

@using (Ajax.BeginForm("ResetPassword", "Account", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "inputForm",
    OnBegin = "LoadingStarted('inputs', 'load-icon')",
    OnComplete = "LoadingFinished('inputs', 'load-icon')"
}))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="Email" name="Email" value="@Model.Email" />
    <input type="hidden" id="Code" name="Code" value="@Model.Code" />

    <div>
        @Html.ValidationMessageFor(model => model.Password)
        @Html.EditorFor(model => model.Password, "", new { htmlattributes = new { placeholder = " Новый пароль", @class = "custom-input" } })
    </div>

    <div>
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        @Html.EditorFor(model => model.ConfirmPassword, "", new { htmlattributes = new { placeholder = " Подтвердите новый пароль", @class = "custom-input" } })
    </div>
    <input class="button" type="submit" value="Отправить" />
}