
<link href="~/Content/Event/_DisplayEventPartial.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/8492b6eaf6.js"></script>


<style>
    .val-errors {
        color: lightcoral;
        height: 50px;
        width: 100%;
        margin: 5px;
        display: none;
    }

        .val-errors span {
            margin-left: 5px !important;
        }
</style>


@model WebApplication1.Models.Schedule.DisplayEventPartialViewModel

@{
    var culture = new System.Globalization.CultureInfo("ru-RU");
}

    <div class="event-display-popup">

        <div class="main-info">
            <h3>@Model.Title</h3>

            <div class="organizer-info">
                <i class="fa fa-user" aria-hclassden="true"></i>
                <span>@Model.OrganizerName</span>
            </div>

            <p class="model-descr">
                @Model.Description
            </p>

            <div class="subscr-info-line">

                @if (Model.AllowSubscription && Model.VisitorCount > 0)
            {
                    <div class="visitors-info">
                        <span>Планируют принять участие </span>
                        <span class="visitors-count">@Model.VisitorCount</span> человек.
                    </div>
                }

                @if (Model.AllowSubscription)
            {
                    <div class="new-visitor-block">
                        <span>Присоединиться</span>

                        <input type="text" class="add-visitor-email" placeholder="Укажите e-mail, чтобы присоединиться" />

                        <i class="fa fa-plus fa-2x" aria-hclassden="true"></i>
                    </div>
                }
            </div>
        </div>

        <div class="right-side-panel">
            <div class="event-display-header">
                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                <span>@Model.DateStart.ToString("dd.M.yy", System.Globalization.CultureInfo.InvariantCulture)</span>
                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                <span>@Model.DateStart.ToString("HH:mm") - @Model.DateEnd.ToString("HH:mm")</span>
            </div>

            <div class="event-display-links">
                <i class="fa fa-calendar-plus-o fa-2x" aria-hclassden="true"></i>
                <i class="fa fa-envelope-o fa-2x" aria-hclassden="true"></i>
                <i class="fa fa-print fa-2x" aria-hclassden="true"></i>
            </div>

            <div class="header-controls">
                @if (Model.CanEdit)
            {
                    <input type="button" class="change-button" value="Изменить">
                    <input type="button" class="cancel-button" value="Отменить">
                }
            </div>

            <div class="val-errors">
                Error
            </div>
        </div>

    </div>

<script src="~/Scripts/Overlays/DisplayEventPartialView.js"></script>


<script>

    $('.header-controls .cancel-button').click(function () {
        cancelEvent();
    });

    $('.header-controls .change-button').click(function () {
        $('#event-data-container').css('display', "none");

        var eventId = $('.event-id').val();
        $.ajax(
            {
                url: '@Url.Action("GetEventEditPartial", "Event")',
                type: "GET",
                context: this,
                data: { eventId: eventId },
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    $('#event-edit-container').empty();
                    $('#event-edit-container').append(data);
                }
            });
    });



    function cancelEvent() {
        var eventId = $('.event-id').val();
        $.ajax({
            url: '@Url.Action("GetEventCancellationPartialView", "Schedule")',
            type: "GET",
            context: this,
            data: { Id: eventId },
            contentType: "application/json; charset=utf-8",
            success: function (data, textStatus, jqXHR) {
                $('body').prepend(data);
                $('.event-cancel-popup:first-of-type').attr('id', eventId).css('left', '300px').css('top', '300px').draggable();

                $('#' + eventId + ' .discart-cancellation-button').click(function () {
                    $(this).parents('.event-cancel-popup').remove();
                });

                $('#' + eventId + ' .confirm-cancellation-button').click(function () {
                    // cancel current event
                    var eventId = $(this).parents('.event-cancel-popup').attr('id');

                    $.ajax({
                        url: '@Url.Action("CancelEvent", "Schedule")',
                        type: "POST",
                        context: this,
                        data: "{ 'Id': '" + eventId + "'}",
                        contentType: "application/json; charset=utf-8",
                        success: function (data, textStatus, jqXHR) {
                            //alert(JSON.stringify(data));

                            var cancelPopup = $(this).parents('.event-cancel-popup');

                            cancelPopup.remove();
                            $('.event-display-popup#' + eventId).remove();
                        }
                    });
                });
            }
        });
    }

    $('.new-visitor-block .fa-plus').click(function () {

        $('.val-errors').empty();

        var eventId = $('.event-id').val();

        var eMail = $('.new-visitor-block input').val();
        //alert(eMail);

        var jsonData = JSON.stringify({ eventId: eventId, Email: eMail });

        $.ajax({
            url: '@Url.Action("AddSubscriber", "Schedule")',
            type: "POST",
            context: this,
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            success: function (data, textStatus, jqXHR) {
                //alert(JSON.stringify(data));

                if (data.status == "fail") {
                    $('.val-errors').css("display", "inline-block");
                    $('.val-errors').append('<i class="fa fa-frown-o fa-3x"></i>');
                    var eList = data.Errors;
                    for (var i = 0; i < eList.length; i++)
                        $('.val-errors').append("<span>" + eList[i] + "</span> <br>");
                }

                if (data.status == "success") {
                    $('.val-errors').css("display", "inline-block");
                    $('.val-errors').append("<span>Добавлено</span> <br>");
                    var $visCntElem = $('.visitors-count');

                    //alert($visCntElem.html());

                    $visCntElem.html(parseInt($visCntElem.html()) + 1);

                    loadAllSubscr(eventId);

                    setTimeout(function () { $('.val-errors').css("display", "none"); }, 1000);
                }
            }
        });
    });

</script>

