@model WebApplication1.Models.EventControlsViewModel

@{
    ViewBag.Title = "Страница события";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #sub-data-container, #event-data-container {
        font-family: arial;
        font-size: 90%;
    }

    .visitor-elem {
        margin: 5px;
        width: 30%;
        display: inline-block;
        float: left;
    }

    #sub-data-container ul {
        list-style-type: disc;
        margin: 10px;
    }

    #sub-data-container {
        display: block;
        clear: left;
        width: 80%;
        margin: 30px;
        margin-bottom: 50px;
    }

    .visitor-elem .fa {
        display: none;
    }

    .visitor-elem:hover .fa {
        display: inline;
    }
</style>

<input type="hidden" class="event-id" value="@Model.EventId" />
<input type="hidden" class="room-id" value="@Model.RoomId" />
<input type="hidden" class="new-room-id" value="@Model.RoomId" />

<div id="event-data-container"> </div>
<div id="event-edit-container"> </div>
<div id="sub-data-container"> </div>

<div id="room-data-container">
    @Html.Partial("_DisplayEventRoomTable"); 
</div>

<script>

    function generateSubscriberItemHtml(Id, Email) {
        return "<li class='visitor-elem' id='" + Id + "'>" + " &#8226 " + Email + " <i style='margin-left: 3px;' class='fa fa-times' aria-hidden='true'></i></li>";
    }
    // Get all subscribers for a given event
    function loadAllSubscr(eventId) {
        $.ajax(
        {
            url: '@Url.Action("GetEventSubscribers", "Event")',
            type: "GET",
            context: this,
            data: { eventId: eventId },
            contentType: "application/json; charset=utf-8",
            success: function (data, textStatus, jqXHR) {
                var visitors = data.visitors;
                var subscriberHtml = "";

                for (var i = 0; i < visitors.length; i++) {
                    var v = visitors[i];
                    subscriberHtml += generateSubscriberItemHtml(v.Id, v.Email);
                }

                var $visCntElem = $('.visitors-count');
                $visCntElem.html(visitors.length);

                $('#sub-data-container').empty();
                if (visitors.length > 0)
                    $('#sub-data-container').append("Зарегистрированные участники: <ul>" + subscriberHtml + "</ul>");

                $('.visitor-elem .fa').click(function () {

                    var eventId = $('.event-id').val();
                    var jsonData = { eventId: eventId, subId: $(this).parent().attr('id') };
                    $.ajax(
                    {
                        url: '@Url.Action("RemoveEventSubscriber", "Event")',
                        type: "POST",
                        context: this,
                        data: JSON.stringify(jsonData),
                        contentType: "application/json; charset=utf-8",
                        success: function (data, textStatus, jqXHR) {
                        }
                    });

                    $(this).parent().remove();
                    var $visCntElem = $('.visitors-count');
                    $visCntElem.html(parseInt($visCntElem.html()) - 1);
                });
            }
        });
    }


    $(() => {
        var eventId = $('.event-id').val();
        $.ajax(
            {
                url: '@Url.Action("GetDisplayEventPartial", "Event")',
                type: "GET",
                context: this,
                data: { Id: eventId },
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    $('#event-data-container').empty();
                    $('#event-data-container').append(data);
                }
            });

        loadAllSubscr(eventId);


    });
</script>



@Html.Partial("MapPartialView")