@model WebApplication1.Models.SendMessageModel
@using WebApplication1.HtmlHelpers;

<div id="SuccessMessage"></div>
@using (Ajax.BeginForm("SendMessageForm", "Feedback", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "feedbackForm",
    OnSuccess = "FeedbackSentSuccessfully()"
}))
{
    <div>
        <div id="name-validation">
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div id="lname-validation">
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>
            <div class="fullname">
                @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "custom-input col-lg-6", placeholder = "Имя", id="Name", onkeyup= "CheckFeedbackFormForContent()" } })
                @Html.EditorFor(model => model.LastName, "", new { htmlAttributes = new { @class = "custom-input col-lg-offset-1 col-lg-5", placeholder = "Фамилия", id="Surname", onkeyup = "CheckFeedbackFormForContent()" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Email)
                @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "custom-input col-lg-12 col-md-12", placeholder = "Адрес электронной почты", id="Email", onkeyup = "CheckFeedbackFormForContent()" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Message)
                @Html.EditorFor(model => model.Message, "", new { htmlAttributes = new { @class = "custom-input col-lg-12  col-md-12", id = "messageText", onkeyup = "CheckFeedbackFormForContent()" } })
                <input id="sendFeedback" class="button" type="submit" value="Отправить" disabled/>
            </div>
}
    