<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/inputs.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</head>
<body>
    <nav>
        <div id="navformer">
            <img id="logo" src="~/Images/logo.png" alt="logo" />
            @if (!Request.IsAuthenticated)
            {
                <li id="userPageItem" class="menu-item"><a href="@Url.Action("Login", "Account")">Вход</a></li>
            }
            else
            {
                <li id="loginItem" class="menu-item">
                    <a href="@Url.Action("UserPage", "Account")">
                        <img src="" alt="" />
                        @(Session["UserName"] as string)
                    </a>
                </li>

                <li class="menu-item"><a href="@Url.Action("Login", "Account")">Выход</a></li>
            }

            <li id="feedbackItem" class="menu-item"><a href="@Url.Action("SendMessageForm","Feedback")">Обратная связь</a></li>

            @if (User.IsInRole("admin"))
            {
                <li id="usersItem" class="menu-item"><a href="">Пользователи</a></li>
            }

            <li id="scheduleItem" class="menu-item"><a href="@Url.Action("ShowSchedule","Schedule")">Расписание</a></li>
        </div>
    </nav>
    @RenderBody()
    <footer>
        <img id="logo-gray" src="~/Images/logo-gray.png" />
    </footer>

    <script src="~/Scripts/ActivateMenuItem.js"></script>
    
    @RenderSection("scripts", required: false)
    @RenderSection("MenuItemActive", true)
</body>
</html>
