<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/inputs.css" rel="stylesheet" />
    <link href="~/Content/validationError.css" rel="stylesheet" />
    <link href="~/calendar.ico" rel="icon" type="image/x-icon" />
    <link href="~/Content/loading.css" rel="stylesheet" />
    <link href="~/Content/userpage.css" rel="stylesheet" />
    <link href="~/Content/userstable.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script src="~/Scripts/Popups/userstable.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <style>
        #newEvent {
            padding: 0px;
            margin: 0px;
        }

            #newEvent img {
                opacity: 0.5;
            }

                #newEvent img:hover {
                    opacity: 0.9;
                }
    </style>


    <script src="~/Scripts/MyScripts.js"></script>

</head>
<body>
    <div class="content">
       <nav>
            <div id="navformer">
                <img id="logo" src="~/Images/logo.png" alt="logo" />
                @if (!Request.IsAuthenticated)
                {
                    <li class="menu-item"><a href="@Url.Action("Login", "Account")">Вход</a></li>
                }
                else
                {

                    if ((Session["UserName"] as string) == null)
                    {
                        ManagementServices.Implementations.AppUsersManager m = new ManagementServices.Implementations.AppUsersManager();
                        Session["UserName"] = m.GetUserName(User.Identity.Name);
                    }

                    <li id="userPageItem" class="menu-item">
                        <a href="@Url.Action("MyPage", "UsersManagment")">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            @(Session["UserName"] as string)
                        </a>
                    </li>
                }

                <li id="feedbackItem" class="menu-item"><a href="@Url.Action("SendMessageForm","Feedback")">Обратная связь</a></li>

                @if (User.IsInRole("admin"))
                {
                    <li id="usersItem" class="menu-item"><a href="@Url.Action("Users","UsersManagment")">Пользователи</a></li>
                }

                <li id="scheduleItem" class="menu-item"><a href="@Url.Action("ShowSchedule","Schedule")">Расписание</a></li>
                @if (Request.IsAuthenticated)
                {
                    <li id="newEvent" class="menu-item"> <img src="~/Images/NewEvent.png" /></li>
                }

            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <img id="logo-gray" src="~/Images/logo-gray.png" />
    </footer>

    @RenderSection("scripts", required: false)
    @RenderSection("MenuItemActive", false)
    <script>
        $('#newEvent img').click(function () {
            $.ajax({
                url: '@Url.Action("GetEventAddPartialView", "Schedule")',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    $('body').prepend(data);
                    $('.event-edit-popup:first-of-type').css('left', '100px').css('top', '50px').draggable();
                }
            });
        });
    </script>
</body>
</html>
